

:root {
    --bg-color: white;
    --text-color: black;
    --main-color: red;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 4.5rem 0 1.5rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    header .shadow {
        box-shadow: 0 0 4px rgb(14, 55,54);
        background: var(--bg-color);
    }

        header .shadow .navbar a {
            color: var(--text-color)
        }

        header .shadow .logo {
            color: var(--text-color)
        }

html::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--text-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 5rem;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    .logo.bx {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        color: var(--main-color);
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

.navbar {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    column-gap: 5rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    .navbar li {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    .navbar a {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: var(--bg-color);
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

        .navbar a::after {
            font-family: 'Open Sans', sans-serif;
            content: '';
            width: 0;
            height: 2px;
            background: var(--main-color);
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: 0.4s all linear;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

        .navbar a:hover::after,
        .navbar .home-active::after {
            font-family: 'Open Sans', sans-serif;
            width: 100%;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

#menu-icon {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    .btn:hover {
        font-family: 'Open Sans', sans-serif;
        background: #fa1216 box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

.container {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2,3,7);
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    .container img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

.swiper-pagination-bullet {
    font-family: 'Open Sans', sans-serif;
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.swiper-pagination-bullet-active {
    font-family: 'Open Sans', sans-serif;
    width: 1.5rem !important;
    background: var(--main-color) !important;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.home-text {
    font-family: 'Open Sans', sans-serif;
    z-index: 1000;
    padding: 0 150px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    .home-text span {
        font-family: 'Open Sans', sans-serif;
        color: var(--bg-color);
        font-weight: 500;
        text-transform: uppercase;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    .home-text h1 {
        font-family: 'Open Sans', sans-serif;
        color: var(--bg-color);
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1rem;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

.rate {
    position: absolute;
    right: 4rem;
    bottom: 10%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    .rate .bx {
        font-family: 'Open Sans', sans-serif;
        background: var(--bg-color);
        padding: 10px;
        font-size: 2rem;
        border-radius: 50%;
        border: 4px solid rgb(2,3,7);
        color: var(--main-color);
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

        .rate .bx:hover {
            font-family: 'Open Sans', sans-serif;
            background: var(--main-color);
            color: var(--bg-color;
            transition: 0.5s all linear;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

.heading {
    font-family: 'Open Sans', sans-serif;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.movies-container {
    font-family: 'Open Sans', sans-serif;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    grid-gap: 1rem;
    margin-top: 2rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.box .box-img {
    width: 100%;
    height: 270px;
}

    .box .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.box h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


