<!DOCTYPE html>
<html>
<head>
    <style>

        import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
        body
        {
       background-color:  white
       transition: background-color 0.3s;
        }
        .div1
        {
            background-color: white;
            width: 1360px;
            height: 600px;
         box-shadow:   0 0 35px rgba(0, 0, 0, 0.1);
            margin-left: 50px;
            margin-top: 50px;
            border-radius: 40px 0px 40px 0px;
            padding: 20px;
        }
        .sign{

            margin-left: 370px;
            font-family: 'Open Sans', sans-serif;
            font-size:30px ;
            font-weight: bold;
        }
        .div3 , .div4 , .div5 , .div6
        {
            margin-left: 50px;

        }

        .div8
        {
            border: 0.5px solid #999 ;
            width:  0px;
            height: 500px;
            margin-top: -500px;
            margin-left: 850px;
        }
        .div9
        {
            margin-left: 1000px;
            width: 250px;

        }
        input{
            width: 300px;
            border: none;
            border-bottom: 1px solid #999;
            padding: 11px 20px 11px 50px;
            font-family: 'Ubuntu' ;
            outline: none;
        }
        .icon1{
            position: absolute;
        margin-left: 7px;
        margin-top: 05px;
        }
        .icon2{
            position: absolute;
        margin-left: 7px;
        margin-top: 05px;
        font-size: 1px;
        }
         img{
            width: 30px;
        }


        .buttonsignup{
            background-color:#080c0b ;
            border: none;
            cursor: pointer;
            padding: 20px 70px 20px 70px;
            font-weight: 800;
            font-family: 'Ubuntu';
            margin-top: 100px;
            margin-left: 100px;
            color: honeydew;

        }
        .buttonlogin{
            background-color: rgb(11, 150, 34) ;
            border: none;
            cursor: pointer;
            padding: 20px 70px 20px 70px;
            font-weight: 0;
            font-family: 'Ubuntu';
            margin-top: 0px;
            margin-left: 250px;
            color: honeydew;

        }
        .or
        {
            position: absolute;
            margin-top: -265px;
            margin-left: 840px;
            background-color: #f7f7f7;
            font-weight: bold;
        }

        .facediv
        {

            margin-top: -400px;
            width: 250px;
            height: 50px;
            background-color: #3b5998;

        }

          .googlediv
        {

            margin-top: 50px;
            width: 250px;
            height: 50px;
            background-color: #dc4e41;

        }
        .twitterdiv
        {

            margin-top: 50px;
            width: 250px;
            height: 50px;
            background-color: #55acee;

        }

        .sociallink
        {
            text-decoration: none;
        }

        .socialimg
        {
            position: absolute;
            margin: 5px;
            width: 40px;
        }

        .socialparagraph
        {
            text-align: center;
            color: #f7f7f7;
            padding: 15px;
            margin-left: 35px;
            font-family:'Ubuntu' ;
        }
        .div6 #male ,#female
        {

            width: 10px;

        }
        .div6 label
        {
            margin-left:35px;
            padding: 25px;
            font-family: "ubuntu";
        }
        .div6 .male
        {
             position: absolute;
              margin-left: 102px;
              margin-top: 6px;
            width: 25px;
        }
        .div6 .female
        {
             position: absolute;
              margin-left: 118px;
              margin-top: 5px;
            width: 25px;
        }
        #name1,#email1,#pass1,#date{
            position: absolute;
               font-size: smaller;
                width: 200px;
                height: 0px;
                 color: #ec2716;
                 visibility: hidden;

        }
        #name2,#email2,#pass2
        {
            position: absolute;
               font-size: smaller;
                width: 200px;
                height: 0px;
                 color: #ec2716;
                 margin-left: 380px;
                visibility: hidden;
        }
        #show
            {
                position: absolute;
                margin-left: 340px;
                margin-top: 8px;
                border :none;
                padding-top:5px ;
                background-color: Transparent;
                outline: none;
                cursor: pointer;
            }
            #show img{
                width: 15px;
            }

            .darkmode {
            padding: 1em;
            font-size: 1em;
            background: rgba(17, 0, 0, 0.192);
            color: #fff;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            top: 8px;
            right: 8px;
            position: absolute;

            width: 10px;
            height: 10px;
            }
            button:hover { opacity: 0.3s; }
            body[data-light-mode= "dark"] {
            background-color: #000;
            color: #eee;
            }

            body[data-light-mode= "dark"] .div1 {

            color: rgb(14, 11, 11);
            }

body[data-light-mode="dark"] .darkmode {
    background-color: rgb(158, 151, 151);
    color: rgb(255, 255, 255);
}
.moon
{
    position:absolute;
    margin-top: -16px;
    margin-left: -15px;
}

    </style>
    <script src="sign.js"></script>
</head>

<body>

    <button class="darkmode" onclick="toggle_light_mode()">
        <img class="moon" src="~/ViewAssets/moon.png" alt="">
    </button>
    <div class="div1">
        <div class="div2">
            <p class="sign">Sign Up</p>
        </div>

        <br>
        <br>

        <div class="div3">

            <i class="icon1"> <img src="~/ViewAssets/id-card.png" alt="logo"></i>

            <input id="first" type="text" placeholder="First Name">
            <p id="name1">*this field is required</p>
            <i class="icon2"> <img src="~/ViewAssets/id-card.png" alt="logo"></i>

            <input id="last" type="text" placeholder="Last Name">
            <p id="name2">*this field is required</p>
        </div>
        <br><br>
        <div class="div4">

            <i class="icon1"> <img src="~/ViewAssets/mail (2).png" alt="logo"></i>

            <input id="email" type="text" placeholder="Email Address">
            <p id="email1">*this field is required</p>
            <i class="icon2"> <img src="~/ViewAssets/mail (2).png" alt="logo"></i>

            <input id="reemail" type="text" placeholder="Confirm Email Address">
            <p id="email2">*this field is required</p>
        </div>
        <br> <br>
        <div class="div5">

            <i class="icon1"> <img src="~/ViewAssets/lock (1).png" alt="logo"></i>
            <button id="show" type="submit" onclick="showpass()"> <img id="eye" src="~/ViewAssets/eye.png" alt=""></button>
            <input id="pass" type="password" placeholder="Password">

            <p id="pass1">*this field is required</p>
            <i class="icon2"> <img src="~/ViewAssets/lock (1).png" alt="logo"></i>
            <button id="show" type="submit" onclick="showrepass()"> <img id="eyeimg" src="~/ViewAssets/eye.png" alt=""></button>
            <input id="repass" type="password" placeholder="Confirm Password">
            <p id="pass2">*this field is required</p>
        </div>
        <br>
        <br>
        <div class="div6">
            <i class="icon1"> <img src="~/ViewAssets/calendar.png" alt="logo"></i>
            <input id="birth" type="date">
            <p id="date">*this field is required</p>
            <img class="male" src="~/ViewAssets/male.png" alt="male">
            <label>Male</label>
            <input type="radio" name="gender" id="male" value="male" checked>
            <img class="female" src="~/ViewAssets/woman.png" alt="female">
            <label>Female</label>
            <input type="radio" name="gender" id="female" value="female">
        </div>
        <div class="div7">

            <button class="buttonsignup" type="submit" onclick="checkerror();  checkright(); ">
                SIGN UP
            </button>
            <a href="..\web\Sign in.html">
                <button class="buttonlogin" type="submit">
                    LOGIN
                </button>
            </a>

        </div>

        <p class="or">OR</p>

        <div class="div8">

        </div>

        <div class="div9">
            <div>
                <a class="sociallink" href="sdf">
                    <div class="facediv">

                        <img class="socialimg" src="~/ViewAssets/facebook.png" alt="">
                        <p class="socialparagraph">Sign Up With Facebook</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="sociallink" href="sdf">
                    <div class="googlediv">
                        <img class="socialimg" src="~/ViewAssets/google-plus (2).png" alt="">
                        <p class="socialparagraph">Sign Up With Google</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="sociallink" href="sdf">
                    <div class="twitterdiv">
                        <img class="socialimg" src="~/ViewAssets/twitter (1).png" alt="">
                        <p class="socialparagraph">Sign Up With Twitter</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</body>
</html>
