
html * {
    font-size: 20PX !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

:root {
    --bg-color: white;
    --text-color: black;
    --main-color: red;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Style the navbar */
.topnav {
    overflow: hidden;
    background-color: #3b4244;
}

    /* Navbar links */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Navbar links on mouse-over */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Active/current link */
        .topnav a.active {
            background-color: #DBA506;
            color: white;
        }

    /* Style the input container */
    .topnav .search-container {
        float:none;
        text-align: center;
        
        
    }

    /* Style the input field inside the navbar */
    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width:500px;
    }

    /* Style the button inside the input container */
    .topnav .search-container button {
        float: right;
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

        .topnav .search-container button:hover {
            background: #d31414;
        }

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
       background-color:#4b4b4b;
        border: 1px solid #ddd;
        padding: .35em;
        
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
        color:black;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
        background-color: whitesmoke;
    }

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            table td::before {
                /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }

}
